/* header */
.header {
  padding: 30px 0;
  background: #f9faff;
  padding-bottom: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.from-top {
  transform: translateY(-50px);
  opacity: 0;
  animation: from-top 0.3s ease-out 0s forwards;
}
@keyframes from-top {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar__collection {
  display: flex;
  gap: 60px;
}
.navbar__item:hover {
  color: #f38969;
}
.nav__href {
  color: #f38969;
}
.nav__btn {
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #f38969;
}
.nav__btn:hover {
  background: #d63e1073;
  cursor: pointer;
}
.nav__btn:active {
  transform: scale(0.98);
  border-radius: 10px;
}
.fa-bars {
  font-size: 20px;
  display: none;
}
/* hero */
section {
  background: #f9faff;
}
.hero {
  display: flex;
  align-items: center;
}
.hero__text h2 {
  font-size: 72px;
  font-weight: 500;
  max-width: 515px;
}
.hero__text p {
  font-size: 20px;
  font-weight: 400;
  max-width: 536px;
  padding-bottom: 40px;
  padding-top: 42px;
}
.hero__btn {
  padding: 12px 30px 12px 24px;
  background: #f38969;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #fff;
}
.hero__btn:hover {
  background: #d63e1073;
  cursor: pointer;
}
.hero__btn:active {
  transform: scale(0.98);
  border-radius: 10px;
}
.from-bottom {
  transform: translateY(80px);
  opacity: 0;
  animation: frombottom 0.3s ease-out 0s forwards;
}
@keyframes frombottom {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* linear */
.linear__text {
  font-size: 40px;
  font-weight: 700;
  color: #3d3d3f;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 55px;
}

.linear__card {
  border: 2px solid #ebebebcc;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0;
  gap: 40px;
}

.child__title::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #ebebebcc;
  position: absolute;
  top: 0;
  left: 0;
}
.child__title::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #ebebebcc;
  position: absolute;
  top: 0;
  right: 0;
}
.child {
  align-items: center;
  text-align: center;
}
.child strong {
  display: block;
  padding-top: 22px;
  padding-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
}
.chlid {
  font-size: 24px;
  color: #3d3d3f;
}
/* tbody */
section {
  overflow: hidden;
}
.tbody {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.tbody__card {
  height: 302px;
  position: relative;
  background: #ffffff;
  border-radius: 23px;
}
.tbody__child {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: -12%;
  left: 40%;
}
.tbody__fontw {
  width: 42px;
  height: 42px;
  background: #f1f1f5;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 70px;
}
.tbody__content {
  padding: 75px 88px;
}
.tbody__content h3 {
  font-size: 24px;
  font-weight: 700;
  color: #3d3d3f;
  padding-bottom: 10px;
}
.tbody__content p {
  max-width: 277px;
  text-align: center;
  color: #595959;
  padding-bottom: 60px;
}

.form {
  background: #f38969;
}
.arrow {
  background: #f38969;
  color: #fff;
}
.tbody__child:hover {
  background: #f38969;
}
.tbody__fontw:hover {
  background: #f38969;
  color: #fff;
}
/* card */
.card {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.card__img {
  background: #fff;
  border-radius: 11px;
}
.card__img h4 {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
}
.card__child {
  display: flex;
  justify-content: center;
}
.card__btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: #f35f2f;
  border: none;
  color: #fff;
  margin-top: 60px;
  font-size: 20px;
}
.card__btn:hover {
  background: #f3602fa8;
  cursor: pointer;
}
.card__btn:active {
  transform: scale(0.98);
  border-radius: 8px;
}
/* footer */
.footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.footer__card {
  background: #fff;
}
.footer__card img {
  width: 100%;
  max-height: 249px;
  object-fit: cover;
  
}
.card__icons {
  display: flex;
  margin-top: 26px;
}

.card__selection {
  width: 30px;
  height: 30px;
  background: #1da1f2;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
}
.card__selection2 {
  width: 30px;
  height: 30px;
  background: #4d77cf;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
}
.card__selection3 {
  width: 30px;
  height: 30px;
  background: #0077b5;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 18px;
}
.footer__card h4 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 18px;
}
.footer__card p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #999;
}
.card__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
